<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">
      <span class="ion-model-s"></span> Edit Car
    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeEdit()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="editCar(car)">
      <div class="list">
        <admin-car-form car="car"/>
        <label class="item">
          <button class="button button-block button-positive" type="submit">
            <span class="ion-checkmark-round"></span> Edit
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
