<ion-view>
  <ion-header-bar align-title="center">
    <h1 class="title">Pulse</h1>
  </ion-header-bar>
  <ion-content>
    <ion-refresher pulling-text="Puxe para recarregar" spinner="none" on-refresh="pulses.refresh()">
    </ion-refresher>
    <div class="list pulse-items">
      <a href="#/app/threads/{{ pulse.threadId || pulse.id }}" class="item {{ pulse.type }}" ng-repeat="pulse in pulses.instances | orderBy : 'created' : true">
        <div ng-if="pulse.type === 'thread'">
          <p>
            você postou <span class="red-text">"{{ pulse.content }}"</span>
          </p>
          <p class="sub">
            {{ pulse.created | date : 'yyyy/MM/dd H:mm' }}
          </p>
        </div>
        <div ng-if="pulse.type === 'response'">
          <p>
            você respondeu <span class="blue-text">"{{ pulse.content }}"</span>
          </p>
          <p class="sub">
            {{ pulse.created | date : 'yyyy/MM/dd H:mm' }} em "{{ pulse.thread.content }}"
          </p>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
