.login-container {}
.login-container i {
  display: block;
  text-align: center;
  font-size: 72px;
}
.login-container h1 {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.login-container label {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}
.login-container .button {
  margin-top: 30px;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.login-container a {
  display: block;
  color: #387ef5;
  font-size: 18px;
  margin-top: 20px;
  text-align: right;
}

.login-footer {
  border: none;
}
.login-footer h1 {
  font-size: 14px !important;
}

.new-user-container {}
.new-user-container i {
  display: block;
  text-align: right;
  font-size: 48px;
}
.new-user-container h1 {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.new-user-container h2 {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.new-user-container label {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}
.new-user-container .button {
  margin-top: 30px;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.new-user-container a {
  display: block;
  color: #387ef5;
  font-size: 18px;
  margin-top: 20px;
  text-align: right;
}

.account-container label {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}
.account-container button {
  width: 44%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
}
.account-container h2 {
  display: block;
  text-align: right;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #aaa;
}

.threads-container a {
  display: block;
  color: #387ef5;
  text-decoration: none;
  font-size: 28px;
  margin-top: 3px;
}
.threads-container a.language-link {
  margin-right: auto;
  margin-left: 8px;
}
.threads-container a.compose-link {
  margin-left: auto;
  margin-right: 8px;
}
.threads-container p.content {
  color: #387ef5;
}
.threads-container p.sub {
  text-align: right;
  font-size: 12px;
  color: #aaa;
}
.threads-container p.sub i {
  font-size: 16px;
  padding-left: 5px;
  color: #888;
}
.threads-container .card {
  box-shadow: none;
}
.threads-container .card-container {
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}
.threads-container .card-container:last-child {
  border-bottom: none;
}
.threads-container .no-threads {
  text-align: center;
  border: none;
}
.threads-container .no-threads i {
  font-size: 20px;
  color: #e42012;
}
.threads-container .no-threads a {
  margin-top: 20px;
  font-size: 18px;
}

.compose-container {
  overflow: visible;
}
.compose-container i {
  display: block;
  text-align: right;
  font-size: 48px;
}
.compose-container h2 {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 25px;
}
.compose-container label {
  border: none;
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.compose-container .button {
  margin-top: 30px;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.compose-container a {
  display: block;
  color: #387ef5;
  font-size: 18px;
  margin-top: 20px;
  text-align: right;
}
.compose-container textarea {
  resize: none;
}

.language-container i {
  color: #387ef5;
}

.loading .loading-spinner {
  stroke: #fff;
}

.thread-detail-container a {
  display: block;
  color: #387ef5;
  text-decoration: none;
  font-size: 16px;
  margin-top: 7px;
}
.thread-detail-container a.back-link {
  margin-right: auto;
  margin-left: 8px;
}
.thread-detail-container .card {
  box-shadow: none;
}
.thread-detail-container .card {
  box-shadow: none;
}
.thread-detail-container .card:last-child {
  border-bottom: none;
}
.thread-detail-container .no-responses {
  text-align: center;
  border: none;
}
.thread-detail-container .no-responses a {
  margin-top: 10px;
  font-size: 16px;
}
.thread-detail-container p.author {
  text-align: right;
  font-size: 12px;
  color: #aaa;
}
.thread-detail-container .card {
  box-shadow: none;
}
.thread-detail-container .new-response-link {
  box-shadow: none;
  border: none;
  font-size: 13px;
  text-align: right;
}

.pulse-items .thread {
  border-left: 5px solid #ef473a;
}
.pulse-items .response {
  border-left: 5px solid #387ef5;
}
.pulse-items .sub {
  font-size: 12px;
  margin-left: 20px;
  margin-right: 10px;
  color: #888;
  text-align: right;
}

.blue-text {
  color: #387ef5;
}
.red-text {
  color: #ef473a;
}
