<ion-view class="thread-detail-container">
  <ion-header-bar>
    <a class="back-link" href="#/app/threads"><i class="ion-arrow-left-c"></i> Voltar</a>
  </ion-header-bar>
  <ion-content>
    <ion-refresher pulling-text="Puxe para recarregar" spinner="none" on-refresh="responses.refresh()">
    </ion-refresher>
    <ion-list>
      <div class="card">
        <div class="item item-text-wrap">
          <p class="content">{{ thread.instance.content }}</p>
          <p class="author">{{ thread.instance.created | date : 'yyyy/MM/dd H:mm'}} - {{ thread.instance.user.name }}</p>
        </div>
        <a class="new-response-link" ng-click="newResponseModal.show()"><i class="ion-chatbox"></i> escreva uma resposta</a>
      </div>
      <div ng-hide="responses.instances.length > 0">
        <div class="item item-text-wrap no-responses">
          <p>Sem respostas...</p>
          <a ng-click="responses.load()">Recarregar</p>
        </div>
      </div>
      <div class="card response">
        <div class="item item-text-wrap" ng-repeat="response in responses.instances">
          <div class="row">
            <div class="col-10">
              <i class="ion-ios-arrow-right"></i>
            </div>
            <div class="col-90">
              <p class="content">{{ response.content }}</p>
              <p class="author">{{ response.created | date : 'yyyy/MM/dd H:mm'}} - {{ response.user.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
