<ion-view class="threads-container">
  <ion-header-bar>
    <a class="language-link" ng-click="languageModal.show()"><i class="ion-android-globe"></i></a>
    <h1 class="title">Threads</h1>
    <a class="compose-link" ng-click="composeModal.show()"><i class="ion-compose"></i></a>
  </ion-header-bar>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" spinner="none" on-refresh="threads.refresh()">
    </ion-refresher>
    <ion-list>
      <div ng-hide="threads.all.length > 0">
        <div class="item item-text-wrap no-threads">
          <i class="ion-sad-outline"></i>
          <p>No threads found.</p>
          <a ng-click="threads.load()">Reload</p>
        </div>
      </div>
      <a class="card-container" ng-repeat="thread in threads.all" href="#/app/threads/{{ thread.id }}">
        <div class="card">
          <div class="item item-text-wrap">
            <p class="content">{{ thread.content }}</p>
            <p class="sub">{{ thread.updated | date : 'yyyy/MM/dd H:mm'}} - {{ thread.user.name }} / {{ thread.responseCount || 0 }} responses<i class="ion-ios-chatbubble-outline"></i></p>
          </div>
        </div>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
