<ion-content>
  <div class="list list-inset login-container">
    <i class="ion-ios-barcode-outline"></i>
    <h1>Choir</h1>
    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="Email" ng-model="login.email">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password" ng-model="login.password">
    </label>
    <button class="button button-full button-light" ng-click="login.confirm()">
      Login
    </button>
    <a ng-click="modal.show()">I'm new here.</a>
  </div>
</ion-content>
<ion-footer-bar align-title="center" class="bar-light login-footer">
  <h1 class="title">
    <i class="ion-android-happy"></i>
    copylight
  </h1>
</ion-footer-bar>
