<ion-modal-view>
  <ion-content>
    <div class="list list-inset compose-container">
      <a ng-click="newResponseModal.hide()"><i class="ion-ios-close-empty"></i></a>
      <h2>Nova resposta</h2>
      <label class="item item-input item-stacked-label">
        <textarea placeholder="Conteúdo..." rows="8" cols="10" ng-model="responses.new.content">
        </textarea>
      </label>
      <button class="button button-full button-light" ng-click="responses.new.post()">
        Enviar
      </button>
    </div>
  </ion-content>
</ion-modal-view>
