<ion-modal-view>
  <ion-content>
    <div class="list list-inset new-user-container">
      <a ng-click="modal.hide()"><i class="ion-ios-close-empty"></i></a>
      <h1>Novo usuário!</h1>
      <h2>Bem vindo ao Choir :)</h2>
      <label class="item item-input item-floating-label">
        <span class="input-label">Nome de exibição</span>
        <input type="text" placeholder="Nome de exibição" ng-model="register.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">E-mail</span>
        <input type="text" placeholder="E-mail" ng-model="register.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="Senha" ng-model="register.password">
      </label>
      <button class="button button-full button-light" ng-click="register.confirm()">
        Registrar
      </button>
    </div>
  </ion-content>
</ion-modal-view>
