<ion-modal-view>
  <ion-content>
    <div class="list list-inset new-user-container">
      <a ng-click="modal.hide()"><i class="ion-ios-close-empty"></i></a>
      <h1>New User!</h1>
      <h2>Welcome to Choir :)</h2>
      <label class="item item-input item-floating-label">
        <span class="input-label">Display Name</span>
        <input type="text" placeholder="Display Name" ng-model="register.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="register.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="register.password">
      </label>
      <button class="button button-full button-light" ng-click="register.confirm()">
        Register
      </button>
    </div>
  </ion-content>
</ion-modal-view>
